### Insert columns

* Insert column year

* Insert missing columns

* Rearragement of column order

In [1]:
import pandas as pd

import numpy as np

df20 = pd.read_csv("df20_final_headers.csv")

df20

,Age,Gender,Country,Education,Current_Role,Time_Writing_Code,Programming_Languages_Python,Programming_Languages_R,Programming_Languages_SQL,Programming_Languages_C,...,Data_Science_Courses_Datacamp,Data_Science_Courses_Fast.Ai,Data_Science_Courses_Udacity,Data_Science_Courses_Udemy,Data_Science_Courses_Linkedin_Learning,Data_Science_Courses_Cloud_Certification_Programs,Data_Science_Courses_University_Courses,Data_Science_Courses_None,Data_Science_Courses_Other,Primary_Tool_Used_For_Data_Analysis
0,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,Python,R,SQL,C,...,NaN,NaN,NaN,NaN,NaN,NaN,University Courses (resulting in a university ...,NaN,NaN,"Basic statistical software (Microsoft Excel, G..."
1,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,Python,R,SQL,NaN,...,DataCamp,NaN,NaN,Udemy,NaN,NaN,NaN,NaN,NaN,"Business intelligence software (Salesforce, Ta..."
2,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,NaN,NaN,NaN,NaN,...,NaN,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G..."
3,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,NaN,...,DataCamp,NaN,NaN,NaN,LinkedIn Learning,NaN,University Courses (resulting in a university ...,NaN,NaN,"Local development environments (RStudio, Jupyt..."
4,30-34,Man,Japan,Master’s degree,Software Engineer,3-5 years,Python,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20031,18-21,Man,Turkey,Some college/university study without earning ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20032,55-59,Woman,United Kingdom of Great Britain and Northern I...,Master’s degree,Currently not employed,20+ years,Python,NaN,NaN,NaN,...,DataCamp,NaN,NaN,NaN,NaN,NaN,University Courses (resulting in a university ...,NaN,NaN,"Local development environments (RStudio, Jupyt..."
20033,30-34,Man,Brazil,Master’s degree,Research Scientist,< 1 years,Python,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20034,22-24,Man,India,Bachelor’s degree,Software Engineer,3-5 years,Python,NaN,SQL,C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt..."
20035,22-24,Man,Pakistan,Master’s degree,Machine Learning Engineer,< 1 years,Python,NaN,NaN,NaN,...,NaN,Fast.ai,Udacity,Udemy,NaN,NaN,University Courses (resulting in a university ...,NaN,NaN,"Local development environments (RStudio, Jupyt..."

Insert column Year 2020

In [2]:
df20.insert(0, "Year", 2020)

df20

,Year,Age,Gender,Country,Education,Current_Role,Time_Writing_Code,Programming_Languages_Python,Programming_Languages_R,Programming_Languages_SQL,...,Data_Science_Courses_Datacamp,Data_Science_Courses_Fast.Ai,Data_Science_Courses_Udacity,Data_Science_Courses_Udemy,Data_Science_Courses_Linkedin_Learning,Data_Science_Courses_Cloud_Certification_Programs,Data_Science_Courses_University_Courses,Data_Science_Courses_None,Data_Science_Courses_Other,Primary_Tool_Used_For_Data_Analysis
0,2020,35-39,Man,Colombia,Doctoral degree,Student,5-10 years,Python,R,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,University Courses (resulting in a university ...,NaN,NaN,"Basic statistical software (Microsoft Excel, G..."
1,2020,30-34,Man,United States of America,Master’s degree,Data Engineer,5-10 years,Python,R,SQL,...,DataCamp,NaN,NaN,Udemy,NaN,NaN,NaN,NaN,NaN,"Business intelligence software (Salesforce, Ta..."
2,2020,35-39,Man,Argentina,Bachelor’s degree,Software Engineer,10-20 years,NaN,NaN,NaN,...,NaN,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G..."
3,2020,30-34,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,...,DataCamp,NaN,NaN,NaN,LinkedIn Learning,NaN,University Courses (resulting in a university ...,NaN,NaN,"Local development environments (RStudio, Jupyt..."
4,2020,30-34,Man,Japan,Master’s degree,Software Engineer,3-5 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20031,2020,18-21,Man,Turkey,Some college/university study without earning ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20032,2020,55-59,Woman,United Kingdom of Great Britain and Northern I...,Master’s degree,Currently not employed,20+ years,Python,NaN,NaN,...,DataCamp,NaN,NaN,NaN,NaN,NaN,University Courses (resulting in a university ...,NaN,NaN,"Local development environments (RStudio, Jupyt..."
20033,2020,30-34,Man,Brazil,Master’s degree,Research Scientist,< 1 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20034,2020,22-24,Man,India,Bachelor’s degree,Software Engineer,3-5 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt..."
20035,2020,22-24,Man,Pakistan,Master’s degree,Machine Learning Engineer,< 1 years,Python,NaN,NaN,...,NaN,Fast.ai,Udacity,Udemy,NaN,NaN,University Courses (resulting in a university ...,NaN,NaN,"Local development environments (RStudio, Jupyt..."

Insert missing columns

* list of missing columns from df18-21_missing_columns.ipynb

In [3]:
missing_columns_text="""Programming_Languages_C#
Machine_Learning_Frameworks_Spark_Mllib
Programming_Languages_Visual_Basic
Data_Visualization_Libraries_Lattice
Notebook_Products_Domino_Datalab
Programming_Languages_Vba
Machine_Learning_Frameworks_Huggingface
Machine_Learning_Frameworks_Cntk
Data_Science_Courses_Developers.Google.Com
Notebook_Products_Zepl_Notebooks
Ide's_nteract
Notebook_Products_Deepnote_Notebooks
Machine_Learning_Frameworks_Mlr
Notebook_Products_Observable_Notebooks
Notebook_Products_Aws_Notebook
Notebook_Products_Zeppelin
Programming_Languages_Typescript
Data_Science_Courses_Dataquest
Programming_Languages_Scala
Programming_Languages_Ruby
Programming_Languages_.Net
Machine_Learning_Frameworks_Caffe
Machine_Learning_Frameworks_Pytorch_Lightning
Programming_Languages_Sas
Programming_Languages_Go
Ide's_IntelliJ
Programming_Languages_Php
Ide's_Atom
Machine_Learning_Frameworks_Randomforest
Notebook_Products_Crestle
Notebook_Products_Floydhub
Programming_Languages_Stata
Data_Science_Courses_Theschool.Ai"""

missing_columns = missing_columns_text.strip().splitlines()

print(missing_columns)

len(missing_columns)

['Programming_Languages_C#', 'Machine_Learning_Frameworks_Spark_Mllib', 'Programming_Languages_Visual_Basic', 'Data_Visualization_Libraries_Lattice', 'Notebook_Products_Domino_Datalab', 'Programming_Languages_Vba', 'Machine_Learning_Frameworks_Huggingface', 'Machine_Learning_Frameworks_Cntk', 'Data_Science_Courses_Developers.Google.Com', 'Notebook_Products_Zepl_Notebooks', "Ide's_nteract", 'Notebook_Products_Deepnote_Notebooks', 'Machine_Learning_Frameworks_Mlr', 'Notebook_Products_Observable_Notebooks', 'Notebook_Products_Aws_Notebook', 'Notebook_Products_Zeppelin', 'Programming_Languages_Typescript', 'Data_Science_Courses_Dataquest', 'Programming_Languages_Scala', 'Programming_Languages_Ruby', 'Programming_Languages_.Net', 'Machine_Learning_Frameworks_Caffe', 'Machine_Learning_Frameworks_Pytorch_Lightning', 'Programming_Languages_Sas', 'Programming_Languages_Go', "Ide's_IntelliJ", 'Programming_Languages_Php', "Ide's_Atom", 'Machine_Learning_Frameworks_Randomforest', 'Notebook_Products_Crestle', 'Notebook_Products_Floydhub', 'Programming_Languages_Stata', 'Data_Science_Courses_Theschool.Ai']

33

In [4]:
#fill bullets with NaN

for column in missing_columns:
    df20[column] = np.nan

# check all columns
df20.to_csv("df20_col_complete.csv", index=False)

Rearrangement of column order

In [5]:
first_columns = ["Year", "Age", "Country", "Education", "Gender",
                 "Current_Role","Current_Yearly_Compensation", "Time_Writing_Code",
                  "Time_Using_Machine_Learning_Methods",
                  "Primary_Tool_Used_For_Data_Analysis"]

# all columns in df
all_columns = df20.columns.tolist()

# columns which aren't in first_columns
residue = sorted([col for col in all_columns if col not in first_columns])

# new order
new_order = first_columns + residue

# print(new_order)

#rearrangement of columns in df
df20 = df20[new_order]

df20.to_csv("df20_all_col.csv", index=False)