### Insert columns

* Insert column year

* Insert missing columns

* Rearragement of column order

In [1]:
import pandas as pd #import pandas

import numpy as np

df21 = pd.read_csv("df21_final_headers.csv") #read csv

df21

,Age,Gender,Country,Education,Current_Role,Time_Writing_Code,Programming_Languages_Python,Programming_Languages_R,Programming_Languages_SQL,Programming_Languages_C,...,Data_Science_Courses_Datacamp,Data_Science_Courses_Fast.Ai,Data_Science_Courses_Udacity,Data_Science_Courses_Udemy,Data_Science_Courses_Linkedin_Learning,Data_Science_Courses_Cloud_Certification_Programs,Data_Science_Courses_University_Courses,Data_Science_Courses_None,Data_Science_Courses_Other,Primary_Tool_Used_For_Data_Analysis
0,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,R,NaN,NaN,...,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt..."
1,50-54,Man,Other,Master’s degree,Program/Project Manager,20+ years,NaN,NaN,SQL,C,...,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)"
2,22-24,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,NaN,NaN,NaN,...,DataCamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G..."
3,45-49,Man,Other,Doctoral degree,Research Scientist,20+ years,Python,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt..."
4,45-49,Man,India,Doctoral degree,Other,< 1 years,Python,NaN,NaN,C,...,NaN,NaN,NaN,Udemy,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25968,30-34,Man,Other,Bachelor’s degree,Data Analyst,1-3 years,Python,NaN,SQL,NaN,...,DataCamp,NaN,Udacity,Udemy,LinkedIn Learning,"Cloud-certification programs (direct from AWS,...",NaN,NaN,NaN,"Business intelligence software (Salesforce, Ta..."
25969,22-24,Man,Other,Master’s degree,Student,1-3 years,Python,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,50-54,Man,Other,Doctoral degree,Research Scientist,I have never written code,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,LinkedIn Learning,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G..."
25971,45-49,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,18-21,Man,India,Bachelor’s degree,Business Analyst,I have never written code,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)"

Insert column Year 2021

In [2]:
df21.insert(0, "Year", 2021)

df21

,Year,Age,Gender,Country,Education,Current_Role,Time_Writing_Code,Programming_Languages_Python,Programming_Languages_R,Programming_Languages_SQL,...,Data_Science_Courses_Datacamp,Data_Science_Courses_Fast.Ai,Data_Science_Courses_Udacity,Data_Science_Courses_Udemy,Data_Science_Courses_Linkedin_Learning,Data_Science_Courses_Cloud_Certification_Programs,Data_Science_Courses_University_Courses,Data_Science_Courses_None,Data_Science_Courses_Other,Primary_Tool_Used_For_Data_Analysis
0,2021,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,R,NaN,...,DataCamp,NaN,Udacity,Udemy,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt..."
1,2021,50-54,Man,Other,Master’s degree,Program/Project Manager,20+ years,NaN,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,"Cloud-certification programs (direct from AWS,...",University Courses (resulting in a university ...,NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)"
2,2021,22-24,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,NaN,NaN,...,DataCamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G..."
3,2021,45-49,Man,Other,Doctoral degree,Research Scientist,20+ years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt..."
4,2021,45-49,Man,India,Doctoral degree,Other,< 1 years,Python,NaN,NaN,...,NaN,NaN,NaN,Udemy,NaN,NaN,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25968,2021,30-34,Man,Other,Bachelor’s degree,Data Analyst,1-3 years,Python,NaN,SQL,...,DataCamp,NaN,Udacity,Udemy,LinkedIn Learning,"Cloud-certification programs (direct from AWS,...",NaN,NaN,NaN,"Business intelligence software (Salesforce, Ta..."
25969,2021,22-24,Man,Other,Master’s degree,Student,1-3 years,Python,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25970,2021,50-54,Man,Other,Doctoral degree,Research Scientist,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,LinkedIn Learning,NaN,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G..."
25971,2021,45-49,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,NaN,SQL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25972,2021,18-21,Man,India,Bachelor’s degree,Business Analyst,I have never written code,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)"

Insert missing columns

* list of missing columns from df18-21_missing_columns.ipynb

In [3]:
missing_columns_text="""
Programming_Languages_C#
Machine_Learning_Frameworks_Spark_Mllib
Programming_Languages_Visual_Basic
Data_Visualization_Libraries_Lattice
Notebook_Products_Domino_Datalab
Programming_Languages_Vba
Machine_Learning_Frameworks_Cntk
Data_Science_Courses_Developers.Google.Com
Ide's_nteract
Machine_Learning_Frameworks_Mlr
Notebook_Products_Aws_Notebook
Programming_Languages_Typescript
Data_Science_Courses_Dataquest
Programming_Languages_Scala
Programming_Languages_Ruby
Programming_Languages_.Net
Machine_Learning_Frameworks_Caffe
Programming_Languages_Sas
Programming_Languages_Go
Ide's_IntelliJ
Programming_Languages_Php
Ide's_Atom
Machine_Learning_Frameworks_Randomforest
Notebook_Products_Crestle
Notebook_Products_Floydhub
Programming_Languages_Stata
Data_Science_Courses_Theschool.Ai"""

missing_columns = missing_columns_text.strip().splitlines()

print(missing_columns)

len(missing_columns)

['Programming_Languages_C#', 'Machine_Learning_Frameworks_Spark_Mllib', 'Programming_Languages_Visual_Basic', 'Data_Visualization_Libraries_Lattice', 'Notebook_Products_Domino_Datalab', 'Programming_Languages_Vba', 'Machine_Learning_Frameworks_Cntk', 'Data_Science_Courses_Developers.Google.Com', "Ide's_nteract", 'Machine_Learning_Frameworks_Mlr', 'Notebook_Products_Aws_Notebook', 'Programming_Languages_Typescript', 'Data_Science_Courses_Dataquest', 'Programming_Languages_Scala', 'Programming_Languages_Ruby', 'Programming_Languages_.Net', 'Machine_Learning_Frameworks_Caffe', 'Programming_Languages_Sas', 'Programming_Languages_Go', "Ide's_IntelliJ", 'Programming_Languages_Php', "Ide's_Atom", 'Machine_Learning_Frameworks_Randomforest', 'Notebook_Products_Crestle', 'Notebook_Products_Floydhub', 'Programming_Languages_Stata', 'Data_Science_Courses_Theschool.Ai']

27

In [4]:
#fill bullets with NaN

for column in missing_columns:
    df21[column] = np.nan

# check all columns
df21.to_csv("df21_col_complete.csv", index=False)

Rearrangement of column order

In [5]:
first_columns = ["Year", "Age", "Country", "Education", "Gender",
                 "Current_Role","Current_Yearly_Compensation", "Time_Writing_Code",
                  "Time_Using_Machine_Learning_Methods",
                  "Primary_Tool_Used_For_Data_Analysis"]

# all columns in df
all_columns = df21.columns.tolist()

# columns which aren't in first_columns
residue = sorted([col for col in all_columns if col not in first_columns])

# new order
new_order = first_columns + residue

# print(new_order)

#rearrangement of columns in df
df21 = df21[new_order]

#save as csv file
df21.to_csv("df21_all_col.csv", index=False)